<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<link href="css/style.css" type="text/css" rel="stylesheet">
<link href="css/blue.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$("#statuswrapper .edit").toggle(function(){
			$("#formedit").slideDown("normal");
		}, 
		function(){
			$("#formedit").slideUp("normal");
		});
	$("#statuswrapper .desc").toggle(function(){
		$("#statuswrapper .desc").addClass("desc-active");
		$("#project-desc").slideDown("normal");
	}, 
	function(){
		$("#statuswrapper .desc").removeClass("desc-active");
		$("#project-desc").slideUp("normal");
	});
});
</script>
<title>Projects</title>
</head>
<body>
	<div id="wrapper">
		<div id="header-wrapper"> 
			<div id="header">
				<div id="header-left">
					<img id="logo" src="img/logo-b.png" alt="logo" title="HTM Project">
					<span id="header-title">HTM Project</span>
				</div>
				<div id="header-right">
					<ul id="header-menu">
						<li><a id="desktop-menu" class="top-menu" href="desktop.html"><span>Desktop</span></a></li>
						<li><a id="account-menu" class="top-menu"><span>Accounts</span></a></li>
						<li><a id="setting-menu" class="top-menu"><span>Settings</span></a></li>
						<li><a id="logout-menu" class="top-menu"><span>Logout</span></a></li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div id="body">
			<div id="tab-wrapper">
				<ul id="tabs">
					<li><a id="projects-info" href="projectinfo.html" class="tab-menu"> <span> Project </span> </a></li>
					<li><a id="milestones" href="milestones.html" class="tab-menu"> <span> Milestones </span> </a></li>
					<li><a id="tasks" href="tasklists.html" class="tab-menu"> <span> Task List </span> </a></li>
					<li><a id="messages" href="/" class="tab-menu"> <span> Message </span> </a></li>
				</ul>
			</div>
			<div id="body-left">
				<h2 id="body-title">My Projects</h2>
				<div id="statuswrapper">
					<ul>
						<li class="link"><a class="close"></a></li>
						<li class="link"><a class="edit"></a></li>
						<li class="link"><a class="desc">Description</a></li>
						<li class="link"><a class="budget">Budget: $10000</a></li>
						<li class="link"><a class="timeleft">days left: 50 days</a></li>
					</ul>					
				</div>
				<div class="clear">
				</div>
				<div id="formedit" class="hidden" >
					<div>
						<h2 class="title">Edit Project</h2>
						<form action="" method="post">
							<table id="form" width="100%">
								<tr>
									<td width="20%">Name:</td>
									<td width="80%">
										<input type="text" name="projectName">
									</td>
								</tr><tr>
									<td>Description:</td>
									<td>
										<textarea name="projectDesc" cols="10" rows="5" style="width: 100%">
										</textarea>
									</td>
								</tr><tr>
									<td>Date:</td>
									<td>
										<input type="text" name="projectDate">
									</td>
								</tr>
								<tr>
									<td></td>
									<td>
										<input class="btn" type="button" name="" value="Save">
										<input class="btn" type="button" name="" value="Cancel"
									</td>
								</tr>
							</table>
						</form>
					</div>
				</div>
				<div id="project-desc" class="hidden" >
					<p>
						bla bla bla
					</p>
				</div>
			</div>
			<div id="body-right">
				<div id="search" class="sidebar-module">
					<h2 class="title">Search</h2>
					<input class="search-input" type="text" value="Search here" />
					<button class="search-confirm"></button>
				</div>
			</div>
		</div>
		<div id="footer"></div>
	</div>
</body>
</html>