<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Projects</title>

<link href="css/style.css" type="text/css" rel="stylesheet">
<link href="css/blue.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/curvycorners.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	var settings1 ={
			tl: {radius: 0},
			tr: {radius: 0},
			bl: {radius: 3},
			br: {radius: 3},
			antiAlias: true
			}
	
	curvyCorners(settings1, ".list-action-button")
	
});

function toggleView(idName){
	cssDisplay = $("#" + idName).css("display");
	id = "#" + idName;
	if ($.trim(cssDisplay) == "none"){
		$(id).slideDown("fast");
	}
	else {
		$("#" + idName).slideUp("fast");
	}
}
</script>

</head>
<body>
	<div id="wrapper">
		<div id="header-wrapper"> 
			<div id="header">
				<div id="header-left">
					<img id="logo" src="img/logo-b.png" alt="logo" title="HTM Project">
					<span id="header-title">HTM Project</span>
				</div>
				<div id="header-right">
					<ul id="header-menu">
						<li><a id="desktop-menu" class="top-menu" href="desktop.html"><span>Desktop</span></a></li>
						<li><a id="account-menu" class="top-menu"><span>Accounts</span></a></li>
						<li><a id="setting-menu" class="top-menu"><span>Settings</span></a></li>
						<li><a id="logout-menu" class="top-menu"><span>Logout</span></a></li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div id="body">
			<div id="tab-wrapper">
				<ul id="tabs">
					<li><a id="desktop" href="desktop.html" class="tab-menu"> <span> Desktop</span> </a></li>
					<li><a id="projects" href="project.html" class="tab-menu"> <span> Projects </span> </a></li>
					<li><a id="tasks" href="tasklist.html" class="tab-menu"> <span> Tasks </span> </a></li>
					<li><a id="messages" href="/" class="tab-menu"> <span> Message </span> </a></li>
				</ul>
			</div>
			<div id="body-left">			
				<h2 id="body-title">Tasklist</h2>														
<!--				 Tasks List -->
				<div class="list1">
				
				<div class="headline">
					<img src="img/projects.png" alt="projects" class="list-icon">	
					<span>My Tasks</span>
				</div>
								
				<div id="project-list" class="table-list">
					<table width="100%" border="0" cellpadding="0" cellspacing="0">
						<tr class="list-title">
							<th width="6%"></th>
							<th width="30%">Task</th>
							<th width="26%">Project</th>
							<th width="26%">Days left</th>
							<th width="12%" class="last">Days left</th>
						</tr>
						<tr class="project-title">
							<td></td>
							<td>
							<div class="toggle-in">
								<span class="view-toggle" onclick=""></span>
								<a href="taskinfo.html">task 1</a>
							</div>
								
							</td>
							<td>
								MyProjects
							</td>
							<td>
								50 days
							</td>
							<td>
								<a class="project-edit icon" id="1"> <span>Edit</span> </a>
								<a class="project-del icon" id="2"> <span>Delete</span> </a>
							</td>
						</tr>
						<tr>
							<td colspan="5">
								<div class="table-info">
									<p>Description's here</p>									
								</div>
							</td>
						</tr>
					</table>
					<div class="list-action">
						<a href="/" class="list-action-button">Add task</a>
						<a href="/" class="list-action-button">Finish task</a>
					</div>
				</div>
				
			</div>
			</div>
			<div id="body-right">
				<div id="search" class="sidebar-module">
					<h2 class="title">Search</h2>
					<input class="search-input" type="text" value="Search here" />
					<button class="search-confirm"></button>
				</div>
			</div>
		</div>
		<div id="footer"></div>
	</div>
</body>
</html>