@CHARSET "utf-8";

.calendar-wrapper table{
	width: 100%;
	border-collapse: collapse;
	font-size: 15px;
	border-color: #acacac;
}

.calendar-wrapper th, .calendar-wrapper tr.header td{
	font-weight: bold;
	background: #5376A2;
	color: #fafafa;
}

.calendar-wrapper td, .calendar-wrapper th{
	padding: 5px 10px;
	text-align: center;
	border-color: #acacac;
}

.calendar-wrapper td.link{
	background: #E8EEF4;
}